@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 100;
}

form {
  margin: 15% auto;
  width: 50%;
  height: auto;
}
span {
  display: flex;
}
span > div {
  /* border: 2px dashed darksalmon; */
  display: block;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
div > div:nth-child(1n) {
  margin: 3%;
}

button {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
  font-weight: 500;
}
#fb {
  background-color: darkseagreen;
}
#ig {
  background-color: rgb(118, 165, 142);
}
#tw {
  background-color: darkslategray;
}
.center {
  border: none;
  margin-left: auto;
  margin-right: auto;
}
button:hover,
.login:hover {
  cursor: pointer;
}
button i {
  display: inline-flexbox;
  padding-right: 10%;
  float: left;
  size: 160%;
}
span fieldset {
  padding: 2%;
  width: 50%;
  margin: 1%;
  border: none;
}
fieldset span {
  position: relative;
  padding-bottom: 2%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
fieldset legend {
  text-align: center;

  color: darksalmon;
  font-weight: 500;
}
/* fieldset {
  border: none;
} */
input {
  display: block;
  border: none;
  border-bottom: 0.2px solid salmon;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
fieldset i {
  display: block;
  padding-right: 0%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.rest a {
  text-align: center;
  margin: 0.5%;
  color: darksalmon;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.rest div:nth-child(1) a {
  margin-right: 2%;
  float: right;
}
.rest div:nth-child(2) a {
  margin-left: 2%;
  float: left;
}
.rest div:nth-child(1) {
  border-right: 1px solid darksalmon;
}
.rest div:nth-child(2) {
  border-left: 1px solid darksalmon;
}
.member {
  border: none;
  margin-top: 5%;
  width: 100%;
}
label {
  width: 100%;
  margin-left: 0%;
}
#check {
  margin-right: 1%;
  background-color: palegreen;
}
.login {
  position: relative;
  border: none;
  border-radius: 2px;
  float: right;
  background-color: darksalmon;
  padding: 2%;
  font-weight: 500;
}
i {
  font-size: 120%;
}

main {
  display: grid;
  border: 2px dashed salmon;
  grid-template-columns: 15fr 1fr 15fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "fb middle form "
    "ig middle form "
    "tw middle button";
  gap: 1rem;
  padding: 1rem;
}

div {
  border: rgb(118, 165, 142) 2px dashed;
}
#fb {
  grid-area: fb;
}
#ig {
  grid-area: ig;
}
#tw {
  grid-area: tw;
}
.middle {
  grid-area: middle;
}
.form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  grid-area: button;
}
.circle {
  border: 1px solid salmon;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: salmon;
  font-weight: 600;
  background-color: lightsalmon;
}
