@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

form {
  margin: 15% auto;
  width: 50%;
  height: auto;
}
span {
  display: flex;
  border: 1px solid gray;
}
span > div {
  border: 2px dashed darksalmon;
  display: block;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
div > div:nth-child(1n) {
  margin: 3%;
  background-color: darkseagreen;
}

button {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
}

.center {
  border: none;
  margin-left: auto;
  margin-right: auto;
}
button:hover,
.login:hover {
  cursor: pointer;
}
button i {
  display: inline-flexbox;
  padding-right: 10%;
  float: left;
  size: 160%;
}
span fieldset {
  padding: 2%;
  width: 50%;
  margin: 1%;
}
fieldset span {
  position: relative;
  padding-bottom: 2%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
fieldset legend {
  text-align: center;
}
/* fieldset {
  border: none;
} */
input {
  display: block;
}
fieldset i {
  display: block;
  padding-right: 2%;
}
.rest {
  border: 1px solid hotpink;
}
.rest a {
  text-align: center;
  margin: 0.5%;
}
.rest :nth-child(1) {
}
.member {
  border: none;
  margin-top: 5%;
}
#check {
  margin-right: 1%;
  background-color: palegreen;
}
.login {
  position: relative;
  border: none;
  border-radius: 2px;
  float: right;
  background-color: olivedrab;
  padding: 2%;
}
