@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  width: 100vw;
  height: 100vh;
}
form {
  margin: 25% auto;
  width: 50%;
  height: auto;
}
span {
  display: flex;
  border: 1px solid gray;
}
span div {
  display: block;
  width: 50%;
  margin: 5%;
}
span div :nth-child(1) {
  width: 40%;
}
button {
  padding: 2%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
button i {
  display: inline-flexbox;
  padding-right: 10%;
}
span fieldset {
  padding: 2%;
  width: 50%;
  margin: 5%;
}
fieldset span {
  position: relative;
  padding-bottom: 2%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
input {
  display: block;
}
fieldset i {
  display: block;
  padding-right: 2%;
}
.rest {
  border: 1px solid hotpink;
}
.rest a {
  text-align: center;
  margin: 0.5%;
}
.rest :nth-child(1) {
}
.member {
  border: none;
  margin-top: 5%;
}
#3 {
  background-color: palegreen;
}
.login {
  position: relative;
  border: none;
  border-radius: 2px;
  float: right;
  background-color: olivedrab;
  padding: 2%;
}
